entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

api:
  dashboard: true

providers:
  consulCatalog:
    endpoint:
      address: "host.docker.internal:8500"
      scheme: "http"

certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ acme_email }}
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web

log:
  level: DEBUG