#!/bin/bash
cd {{ github_runner_current_runner_dir }}
./config.sh \
  --url https://github.com/{{ github_runner_organization }} \
  --token {{ github_runner_token }} \
  --name {{ github_runner_current_runner_name }} \
  {% if github_runner_current_runner_labels | length > 0 %}--labels {{ github_runner_labels_string }} {% endif %} \
  --unattended \
  --replace