log_level = "DEBUG"
data_dir = "/opt/nomad"

bind_addr = "0.0.0.0"

{% if nomad_server %}
server {
  enabled = true
  bootstrap_expect = 1
}
{% endif %}
acl {
  enabled = true
}

client {
  enabled = true
  servers = ["{{ hostvars[groups['masters'][0]]['ansible_default_ipv4']['address'] }}"]
}

consul {
  address = "127.0.0.1:8500"
  token = "{{ consul_secret_id }}"
}